*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Solway;
}

html{
    height: 100%;
}

/* custom classes */

.rounded-20{
    border-radius: 20px !important;
}

.gap-6{
    gap: 6rem;
}

p{
    font-size: 1.15rem;
}

a{
    text-decoration: none;
    border: 0;
}

/* navbar style */

.navbar{
    background-color: #b1b2b5;
    --bs-navbar-padding-y: 0rem !important;
}

.navbar-title{
    color: #09558b;
}

.nav-link{
    font-size: 1.1rem;
    font-weight: bold;
}

.nav-link:hover{
    color: #09558b !important;
}

.btn-contact{
    font-size: 1.1rem;
    background-color: #09558b;
    color:white;
    padding: 10px 25px 10px 25px;
    border: 0;
}

.btn-contact:hover,
.btn-contact:active{
    background-color: #2aa35f !important;
    color:white !important;
    border: 0;
}

/* hero style */

.hero{
    background-color: #09558b;
}

.hero-p{
    font-size: 1.9rem;
}

.hero-img-crop{
    width: 800px;
    height: 550px;
    max-width: 100%;
    overflow: hidden;
}

.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.6);
}

.btn-green{
    font-size: 1.8rem;
    background-color: #2aa35f;
    color: white;
    border: 0;
}

.btn-green:hover,
.btn-green:active{
    background-color: #1c8349 !important;
    color: white !important;
    border: 0;
}

.btn-yellow{
    font-size: 1.8rem;
    background-color: #f0be2b;
    color: black;
    border: 0;
}

.btn-yellow:hover,
.btn-yellow:active{
    font-size: 1.8rem;
    background-color: #cca225 !important;
    color: black !important;
    border: 0;
}

/* unique selling points style */

.unique-selling-points{
    background-color: white;
}

/* product grid style */

.product-grid{
    background-color: #e7f3fe;
}

.featured-card img{
    height: 200px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.featured-card-wrapper {
    width: 280px; 
    flex: 0 0 auto;
}

.featured-card{
    display: flex;
    flex-direction: column;
}

.featured-card-text{
    height: 250px !important;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.featured-card-price{
    color: #2aa35f;
    margin-top: auto;
    display: inline-block;
}

/* social proof style */

.social-proof{
    background-color: #d8d8d8;
}

.social-stars{
    font-size: 3rem !important;
    margin-right: 1rem;
    color: #f0be2b;
}

.testimonial {
    background-color: #f9f9f9;
    padding: 1rem;
    margin-bottom: 1rem;
}

.testimonial-name{
    text-align: right;
}

/* footer style */

.footer{
    background-color: #09558b;
    height: 100%;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* mobile style */

@media (max-width: 1400px) {

/* navbar styles responsive */

.navigation{
    display: none !important;
}

/* hero styles responsive */

.hero-img,
.hero-img-crop{
    display: none;
}

.hero-responsive{
    width: 100%;
    text-align: center;
}

.hero-responsive-title{
    margin-top: 2rem;
    font-size: 5rem;
}

.btn-green{
    width: 50%;
    margin-bottom: 2rem;
}

.btn-yellow{
    margin-bottom: 5rem;
}

.hero-btn-responsive{
    display: block !important;
}

/* social proof */

.social-testimonial-responsive{
    width: 100%;
}

.social-responsive-wrapper{
    text-align: center;
    width: 100%;
}

.social-title-responsive{
    text-align: center;
    width: 100%;
    font-size: 2rem;
}

}

@media (max-width: 767px) {

/* navbar styles responsive */

.navbar{
    --bs-navbar-padding-y: 0.5rem !important;
}

.navbar-brand img{
    width: 65px;
    height: 65px;
}

/* hero styles responsive */

.btn-green{
    width: 80%;
    margin-bottom: 2rem;
}

.btn-yellow{
    width: 80%;
    margin-bottom: 5rem;
}

/* grid styles responsive */

h1{
    font-size: 3rem;
}

.product-grid{
    padding-left: 40px;
    padding-right: 40px;
}

.product-grid-reverse{
    flex-direction: column-reverse;
}

.featured-card-wrapper{
    width: 100%;
}

.featured-card-wrapper img{
    height: 100%;
}

/* social proof */

.social-responsive-wrapper{
    text-align: center;
}

.social-title-responsive{
    text-align: center;
    width: 100%;
    font-size: 2rem;
}

}